@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);

body, html {
	height: 100%;
}
#conversation {
	font-size: 7em;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	padding: 40px;
	position: relative;
}
#conversation ul {
	list-style: none;
	padding:0;
	margin:0;
}
#conversation li {
	position: relative;
}
.selections li {
	display: inline-block;
	margin-bottom: 20px;
}
.selections img {
	width: 200px;
	height: 200px;
	margin: 10px;
}
#gal {
	height: 200px;
	overflow: hidden;
	margin-bottom: 40px;
}
.gal-ico {
	position: absolute;
	display: block;
	z-index: 999;
	top: 30px;
	left: 0;
}
.left-arr {
	left: 0;
}
.right-arr {
	right: 0;
}
.gal-la {
	width: 100%;
	text-align: center;
}
